
body {
    margin: 0;
    padding: 1px;
}

iframe {
    width: 100%;
    border: none;
}

#outer-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#edit-form {
    position: absolute;
    top: 75px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

#excel-table-container {
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: 100px; /* Initial height */
    overflow: auto;
    background-color: #e1e1e1;
    border-top: 4px solid #8973af;
    padding-top: 4px;
    font-family: "Arial", sans-serif;
    font-size: 9px;
    resize: vertical; /* Allow vertical resizing */
    display: none; /* Initially hidden */
}

#excel-table-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; /* Height of the border area */
    cursor: ns-resize; /* Change mouse pointer style when hovering over the border */
}

/*#excel-table-container:hover {
    cursor: ns-resize; !* Change mouse pointer style when hovering over the border *!
}*/

.highlight-row {
    background-color: #202020; /* Example: light gray background */
    font-weight: bold; /* Example: bold text */
    font-size: 12px; /* Example: larger font size */
    font-family: "Century Gothic", sans-serif;
    color: #dcdcdc; /* Example: red text */
}

.highlight-column {
    color: #ff0000; /* Example: red text */
    font-style: italic; /* Example: italic text */
}

#excel-table-container::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: e-resize;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

#toggle-table-btn {
    position: fixed;
    bottom: 50px; /* Adjust based on the initial height of the table container */
    right: 10px;
    padding: 5px;
    background-color: #255897;
    border-radius: 5px;
    color: white;
    font-family: "Century Gothic", sans-serif;
    border: solid 1px #4c91af;
    cursor: pointer;
}

/* Ensure the button is visible */
#edit-mode-btn {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it is above other elements */
    background-color: #4c91af; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Pointer cursor on hover */
}

#save-btn #exit-edit-mode-btn{
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it is above other elements */
    background-color: #4c91af; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Pointer cursor on hover */
}

#edit-mode-btn:hover, #save-btn:hover, #exit-edit-mode-btn:hover {
    background-color: #0056b3; /* Darker background on hover */
}

#title-box {
    background: #4c91af; /* Green background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 10px; /* Some padding */
    font-family: 'Arial', sans-serif; /* Font family */
    font-size: 20px; /* Font size */
    font-weight: bold; /* Bold text */
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); /* Shadow for a nice effect */
}
/* Media query for small screens */
@media (max-width: 600px) {
    #title-box {
        font-size: 16px; /* Adjust font size for small screens */
        padding: 8px; /* Adjust padding for small screens */
    }
}

/* Media query for very small screens */
@media (max-width: 400px) {
    #title-box {
        font-size: 14px; /* Further adjust font size for very small screens */
        padding: 6px; /* Further adjust padding for very small screens */
    }
}
#map {
    position: absolute;
    top: 4%;
    bottom: 1%;
    width: 100%;
}

#controls-container {
    position: absolute;
    width: 20%;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

/** Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. *!*/
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffef8e;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

.map-legend {
    width: 130px; /* Adjust width as needed */
    background: rgba(247, 247, 247, 0.9);
    padding: 10px;
    border-radius: 5px;
    font-family: "Century Gothic", sans-serif;
    font-size: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.legend-key {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 5px;
}

.legend-key-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

.legend-title {
    font-weight: bold;
    font-size: 12px;
}

.top-left-popup {
            position: absolute;
            top: 10px; /* Adjust to position it in the top-left corner */
            left: 10px;
            background: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            z-index: 1000; /* Ensure it appears above the map */
            width: 200px; /* Adjust as needed */
            height: auto;
            max-height: 200px;
            overflow-y: auto;
            font-family: 'Helvetica', sans-serif; /* Set font to Helvetica */
            font-size: 12px; /* Change font size */
        }

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(9, 9, 9, 0);
    border: none;
    font-size: 10px;
    cursor: pointer;
    padding: 2px 2px;
}

.top-left-popup ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
}

.top-left-popup li {
    margin-bottom: 5px; /* Optional: Add some spacing between list items */
}

#layer-controls {
    width: 130px; /* Adjust width as needed */
    background: rgba(247, 247, 247, 0.9);
    padding: 10px;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

#layer-controls-table {
    width: 100%;
    border-collapse: collapse;
}

#layer-controls-table tr:hover {
    background-color: #30edd4; /* Highlight color on hover */
}

#layer-controls-table td {
    padding: 5px;
    vertical-align: middle;
}

#layer-controls-table label {
    font-weight: bold;
    font-size: 11px;
    font-family: 'Century Gothic', sans-serif;
}

#layer-controls-table input[type="checkbox"] {
    margin-right: 10px;
}