<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Iowa BLE Project Tracking Map</title>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon.ico">
    <link rel="apple-icon" sizes="180x180" href="/static/icons/apple-icon.png">
    <link rel="manifest" href="/static/icons/manifest.json">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/src/DataTables/datatables.min.css" />
    <script src="/static/src/DataTables/datatables.min.js"></script>
<!--    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css' type='text/css' />-->
    <link href="/static/styles_add.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <script src="/static/src/mapInteractions.js" type="module"></script>
    <script src="/static/src/editor_functionality.js" type="module"></script>
<!--    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js'></script>-->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
</head>
<body>
    <div id="title-box">Iowa BLE Project Tracking Map
        <span id="timestamp-text">Fetching last update...</span>
    </div>
    <div id="viewport-container">
        <div id="map"></div>
        <div id="controls-container">
            <div id="layer-controls">
                <table id="layer-controls-table"></table>

            </div>
            <div id="legend" class="map-legend"></div>
        </div>
        <div class="popup-container" style="display: none;">
            <button class="close-btn" onclick="closePopup()" type="button" aria-label="Close popup">×</button>
            <ul id="mapboxgl-popup-content"></ul>
        </div>
        <script>
            const MAPBOX_TOKEN = "{{ mapbox_token }}";
        </script>
        <script src="../static/main.js" type="module"></script>

        <div id="button-container">
            <button id="toggle-table-btn">Show/Hide Table</button>
            <button id="upload-data-button">Upload Data</button>
            <button id="export-excel-button">Export to Excel</button>
        </div>
        <div id="status-table-container" style="display: none;">
            <table id="status-table" border="1">
                <!-- Table content will be dynamically added here -->
            </table>
        </div>
    </div>

    <script src="/static/src/turf.min.js" charset="utf-8" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js" defer></script>
</body>
</html>